.segment {
  padding: 6em 0em !important;
  border: none !important;
  background-color: transparent !important;
}

.header {
  font-size: 2.5em !important;
  color: white !important;
}

.card {
  height: 100% !important;
  width: 100% !important;
  text-align: start !important;
  padding-top: 10% !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  border: 1px solid black !important;
  background-color: white !important;
  box-shadow: none !important;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  background-position: 0 0 !important;
  box-shadow: 0 0px 2px 0 #f4c70050, 0 0px 16px 0 #f4c70050 !important;
}

.card-image {
  width: 90% !important;
  height: 150px !important;
  border: none !important;
  padding: 0% !important;
  flex: 1 0 auto !important;
}

.card-content {
  border-top: none !important;
  width: 100% !important;
  text-align: none !important;
}
.card-content .segment {
  padding: 6em 0em !important;
  border: none !important;
  background-color: transparent !important;
}

.card-content hr {
  opacity: 0.1;
  width: 95%;
  float: left;
}

.card-content .header {
  font-size: 2.5em !important;
  color: #f4c700 !important;
}

.card-content .card {
  height: 100% !important;
  width: 100% !important;
  text-align: start !important;
  padding-top: 10% !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  border: 1px solid black !important;
  background-color: white !important;
  box-shadow: none !important;
  transition: transform 0.2s ease-in-out;
}

.card-content .card:hover {
  transform: scale(1.05);
}

.card-content .card-image {
  width: 90% !important;
  height: 150px !important;
  border: none !important;
  padding: 0% !important;
  flex: 1 0 auto !important;
}

.card-content {
  border-top: none !important;
  width: 100% !important;
  text-align: none !important;
}

.card-content .card-header,
.card-content .card-meta {
  color: #fff !important;
}

.card-content .read-more {
  color: white !important;
  text-decoration: underline !important;
  position: absolute;
  bottom: 10px;
  font-weight: 500 !important;
  transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
}

.card-content .read-more:hover {
  color: #f4c700 !important;
  text-decoration: none !important;
}

.card-content .subscribe-card {
  height: 100% !important;
  width: 100% !important;
  text-align: start !important;
  padding-top: 15% !important;
  display: flex !important;
  flex-direction: column !important;
  border: 1px solid white !important;
  color: black !important;
  background: linear-gradient(120deg, #f4c7002a, #f4c70054) !important;
  box-shadow: none !important;
}

.subscribe-segment {
  background: none !important;
  box-shadow: none !important;
  border: none !important;
  color: white !important;
  font-weight: bold;
}

.input {
  width: 100% !important;
  margin-top: 10% !important;
  height: 20% !important;
}

.input input {
  border-radius: 100px !important;
}

.button {
  color: black !important;
  height: 20% !important;
  width: 100% !important;
  margin-top: 10% !important;
  margin-bottom: 30% !important;
  border-radius: 100px !important;
  font-size: 18px !important;
}

.card-header,
.card-meta {
  color: white !important;
}

.read-more {
  color: white !important;
  text-decoration: underline !important;
}

.subscribe-card {
  height: 100% !important;
  width: 100% !important;
  text-align: start !important;
  padding-top: 15% !important;
  display: flex !important;
  flex-direction: column !important;
  border: 3px solid black !important;
  color: black !important;
  background-color: white !important;
  box-shadow: none !important;
}

.subscribe-segment {
  background: none !important;
  box-shadow: none !important;
  border: none !important;
  color: black !important;
  font-weight: bold;
}

.input {
  width: 100% !important;
  margin-top: 10% !important;
  height: 20% !important;
}

.input input {
  border-radius: 100px !important;
}

.button {
  color: white !important;
  height: 20% !important;
  width: 100% !important;
  margin-top: 10% !important;
  margin-bottom: 30% !important;
  border-radius: 100px !important;
}
