.scroll_up {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #ffffff;
  color: #212121;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(100%);
  z-index: 20;
  border: 1px solid #212121;
}

.scroll_up:hover {
  border-color: #d3d3d3;
  background-color: #eeeeee;
}

.scroll_up.show_scroll {
  opacity: 1;
  transform: translateY(0);
}

.darkSection {
  background-color: #212121;
}
