.cardheader {
  font-family: "Poppins Regular", sans-serif;
}

.ui.steps .step {
  justify-content: flex-start !important;
}

@media (width <= 768px) {
  .ui.steps .step {
    justify-content: space-between;
  }

  .step .title,
  .description {
    margin-left: 10px;
    font-size: larger;
    line-height: 18px;
  }
  .step .title {
    margin-top: 20px;
  }
}

@media (width > 1200px) {
  .ui.steps .title,
  .ui.steps .description {
    text-align: left;
    margin-left: 30px;
  }
}

@media (768px < width < 1200px) {
  .ui.steps .title,
  .ui.steps .description {
    text-align: left;
    margin-left: 10px;
  }
}

.step {
  border: 1.5px solid #0e0d0d !important;
  background-color: #f3efde !important;
  background: linear-gradient(120deg, #f3efde, #f3efde) !important;
  background-size: 200% 100% !important;
  background-position: 100% 0 !important;
  transition: background-position 0.5s !important;
}

.step {
  padding: 2em 1em;
  transition: transform 0.3s ease;
}

.step:hover {
  background-position: 0 0 !important;

  box-shadow: 0 0px 2px 0 #f3efde, 0 0px 16px 0 #f3efde !important;
}

.step .title {
  font-size: 20.5px !important;
  line-height: 23px;
}
.step .description {
  font-size: 18px !important;
}
/* background: linear-gradient(120deg, #f4c7002a, #f4c70054) !important; #4f4310 #2625222a*/
