body {
  margin: 0;
  font-family: "Poppins Regular", sans-serif;
  text-align: center;
}

code {
  font-family: "Poppins Regular", sans-serif;
}

/* Poppins Font */
.poppins-regular {
  font-family: "Poppins Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "Poppins Regular", sans-serif;
}

/* -------------------Center Class */
#makeCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: "4px solid Red";
}

/* --------------- client logo animate */
.logoColour {
  filter: grayscale(90%);
  transition: all 200ms ease;
}

.logoColour:hover {
  filter: grayscale(0%);
}

/* ------------------Header Text */
.animationHeader {
  animation: zoomup 3s ease infinite;
}

@keyframes zoomup {
  0%,
  100% {
    color: #f3efde;
    /* filter: blur(0.5px); */
    text-shadow: 0 0 2px #fff;
  }

  50% {
    filter: blur(0);
    color: #fff;
    text-shadow: none;
  }
}

.glow {
  overflow: hidden;
  font-size: 1em;
  transition: all 300ms ease;
}

.glow:hover {
  text-shadow: 0 0 4px #f3efde;
}

/* ------------------gemini  */
.gemini {
  background: radial-gradient(circle, #212121, #f3efde);
  background-clip: text;
  color: transparent;
  animation: gemini 5s linear infinite;
  background-size: 200% 200%;
}
@keyframes gemini {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.stats-card {
  background-color: white !important;
  color: white !important;
  text-align: center !important;
  padding: 2em !important;
  border: none !important;
  box-shadow: none !important;
  margin-bottom: 1rem !important;

  background: linear-gradient(90deg, #080808, #f3efde, #f3efde) !important;
  background-size: 200% 100% !important;
  background-position: 100% 0 !important;
  transition: background-position 0.5s !important;
}

.stats-card .header {
  font-size: 2rem !important;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: black !important;
}

.stats-card .description {
  font-size: 1.3rem;
  color: black !important;
}

#grey {
  background-color: #eeeeee;
}

.ui {
  cursor: default;
}

.ui.card {
  transition: all 300ms;
  border-radius: 0.5em;
  /* box-shadow: none!important; */
  color: #fff !important;
}

.clipArt {
  border-radius: 0.5em;
  transition: all 300ms;
}
.clipArt .ui .img {
  display: inline !important;
  vertical-align: left !important;
  left: 0px;
}
.clipArt h3 {
  text-align: center;
}

.clipArt:hover {
  box-shadow: 0 0px 2px 0 #f3efde;
  /* 0 0px 2px 0 #f3efde, 0 0px 16px 0 #f3efde; */
}

/* landing page zoom in and out */
.zoom-in-out-box {
  background: #f500cc;
  animation: zoom-in-zoom-out 20s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.01, 1.01);
  }
  100% {
    transform: scale(1, 1);
  }
}

.stats-card:hover {
  background-position: 0 0 !important;
}

.learnmorebtn {
  color: #fff !important;
}
.learnmorebtn:hover {
  color: #212121 !important;
}

.bug-zero-banner {
  display: none;
}

@media (min-height: 830px) {
  .bug-zero-banner {
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Edo";
    font-size: 5em !important;
    margin: 0%;
    background-color: transparent !important;
    border-radius: 0%;
    border: none;
    box-shadow: none;
  }
}
